.education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* height: 100vh; */
  /* background-color: red; */
}

.educationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  /* background-color: #282828; */
}

.content {
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* background-color: aqua; */
  margin: 0 2rem;
  padding: 2rem;
  gap: 1rem;
}

.university {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  /* background-color: pink; */
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  line-height: 2rem;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  font-size: 1.5rem;
  width: 100%;
  line-height: 1.2rem;
  /* background-color: yellow; */
}

.title > p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
}

.otherDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: start;
  color: #dadada;
  width: 100%;
  font-size: 1rem;
  gap: 0.5rem;
}

@media screen and (min-width: 1200px) {
  .educationContainer {
    height: 100vh;
  }
}

@media screen and (max-width: 1200px) {
  .education {
    margin-bottom: 3rem;
  }

  .educationContainer {
    width: 100%;
    /* height: 100%; */
  }
}

@media screen and (max-width: 992px) {
  .education {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .educationContainer {
    width: 100%;
    /* height: 100vh; */
  }

  .content {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .header {
    justify-content: center;
    font-size: 2.5rem;
  }

  .title {
    text-align: start;
    justify-content: center;
    align-items: center;
  }

  .title > p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
  }

  .otherDetails {
    align-items: center;
    /* text-align: center; */
  }
}

@media screen and (max-width: 768px) {
  .educationContainer {
    width: 100%;
    /* height: 100vh; */
  }

  .content {
    flex-direction: column;
    gap: 2rem;
  }

  .header {
    justify-content: center;
  }

  .title {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .title > p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .otherDetails {
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .education {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .educationContainer {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    height: max-content;
  }

  .content {
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
  }

  .university {
    gap: 0.5rem;
    
  }

  .header {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .title > p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .otherDetails {
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
  }
}
