.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60rem;
  height: 95vh;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin: 0 2rem;
  padding: 2rem;
}

.aboutMe {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  flex: 1;
  height: 25.5rem;
  gap: 1rem;
}

.aboutHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2rem;
}

.aboutDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

.getResume {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  color: white;
  font-size: 1rem;
  background-color: #0a192f;
  border: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.getResume:hover {
  transform: scale(1.1);
}

.photoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  height: 25.5rem;
  flex: 1;
}

.photoContainer > img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 0.25rem;
  transition: 0.5s all ease-in-out;
}

.photoContainer > img:hover {
  transform: scale(1.2);
}

.lineOne {
  position: relative;
  border-bottom: 1px solid black;
  border-radius: 0.15rem;
  width: 16.15rem;
  border: 0.15rem solid #f8f41a;
  background-color: #f8f41a;
  transform: rotate(90.19deg);
  inset-inline-start: 10rem;
  bottom: 7rem;
}

.lineTwo {
  position: relative;
  border-radius: 0.15rem;
  border-bottom: 1px solid black;
  width: 16.15rem;
  border: 0.15rem solid #f8f41a;
  background-color: #f8f41a;
  inset-block-start: 2.5rem;
}

@media screen and (min-width: 1200px) {
  .aboutContainer {
    height: 100vh;
  }
}

@media screen and (max-width: 1200px) {
  .about {
    margin-bottom: 3rem;
  }
  .aboutContainer {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .about {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .aboutContainer {
    width: 100%;
  }

  .content {
    flex-direction: column;
    gap: 5rem;
  }

  .aboutHeader {
    font-size: 2.5rem;
  }

  .aboutDescription {
    text-align: center;
    font-size: 1.5rem;
  }

  .getResume {
    font-size: 1.5rem;
  }

  .lineTwo {
    inset-inline-start: 1.5rem;
  }

  .lineOne {
    inset-inline-start: 9rem;
    inset-block-end: 6.5rem;
  }
}

@media screen and (max-width: 768px) {
  .aboutContainer {
    width: 100%;
  }

  .content {
    flex-direction: column;
  }

  .lineTwo {
    inset-block-start: 1.5rem;
    inset-inline-start: 0;
  }

  .lineOne {
    inset-inline-start: 9rem;
    inset-block-end: 6.5rem;
  }
}

@media screen and (max-width: 576px) {
  .about {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .aboutContainer {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  .content {
    flex-direction: column;
    padding: 1rem;
    gap: 3rem;
  }

  .aboutMe {
    display: flex;
    align-items: center;
  }

  .aboutHeader {
    font-size: 1.5rem;
  }

  .aboutDescription {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .getResume {
    width: 7.5rem;
    height: 1.8rem;
    font-size: 0.8rem;
  }

  .photoContainer {
    height: max-content;
  }

  .photoContainer > img {
    width: 10rem;
    height: 10rem;
  }

  .lineTwo {
    width: 12.5rem;
    inset-block-start: 1.5rem;
  }

  .lineOne {
    width: 12.5rem;
    inset-inline-start: 6.5rem;
    inset-block-end: 5rem;
  }
}
