.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* margin-top: 64px; */
  /* background-color: green; */
  position: relative;
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 100vh;
  /* background-color: #181818; */
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* background-color: aqua; */
}

.photo {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: whitesmoke; */
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.photo > img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #fff;
  transition: 0.5s all ease-in-out;
}

.photo > img:hover {
  transform: scale(1.2);
}

.mainDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  /* background-color: pink; */
}

.otherDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  color: #dadada;
  /* background-color: purple; */
}

.redirect {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.redirect > img {
  bottom: 2rem;
  width: 32px;
  height: 22px;
  position: absolute;
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: 20px;
    }
    50% {
      bottom: 40px;
    }
  }

@media screen and (max-width: 1200px) {
  .home {
    height: 100vh;
  }
  .homeContainer {
    width: 100%;
    /* height: 80vh; */
   
  }
}

@media screen and (max-width: 992px) {
  .homeContainer {
    width: 100%;
    height: 100vh;
  }

  .mainDescription {
    font-size: 2rem;
  }

  .otherDescription {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .homeContainer {
    width: 100%;
    /* height: 100vh; */
  }
}

@media screen and (max-width: 576px) {
  .homeContainer {
    width: 100%;
    /* height: 100vh; */
  }

  .photo > img {
    width: 200px;
    height: 200px;
  }

  .mainDescription {
    font-size: 1rem;
  }

  .otherDescription {
    font-size: 0.8rem;
  }
}

/* @media screen and (max-width: 576px) {
   
}
  
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 992px) { 
    
}
  
@media screen and (max-width: 1200px) {

} */
